<div th:fragment="footer">
    <div class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Все заказы</a></li>
            <li class="nav-item"><a href="/AddOrder" class="nav-link px-2 text-muted">Добавить заказ</a></li>
            <li class="nav-item"><a href="/find" class="nav-link px-2 text-muted">Поиск</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 Powered by FROFY, Inc</p>
    </div>
</div>